body {
    background-color: darkmagenta;
    font-family: Helvetica;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.card {
    background-color: purple;
    color: purple;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    font-size: 30px;
    align-content: center;
    user-select: none;
    cursor: pointer;
    transition: 300ms;
}

.card:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}